<div class="jumbotron" style="margin-bottom:30px;margin-top: 50px; padding-top: 105px;color: rgba(255,255,255,0.6);/*background: url('https://i.imgur.com/nbpy2UH.jpg'),#3c434a*/background: #1d1d1d url(https://i.imgur.com/Y2vL5cv.png) no-repeat right center;/*background-position: center 10%;*/ background-attachment: fixed;/*background-position: center;*/background-repeat: no-repeat;/*background-size: cover;*/">
    <div class="container" style="text-align: center; color: white;padding-bottom: 20px">
        <img src="https://www.rubypedia.com/resources/images/logo-jumbroton.png" class="img-responsive" style="display: initial;">
        <p style="padding-right: 18%;padding-left: 18%;font-family: Roboto;font-weight: 300">RubyPedia.com adalah situs yang menyediakan tutorial & screencast pemrogramman ruby dengan bahasa indonesia.</p>
        <p style="margin-top: 40px">
        
            <a class="play-trigger" data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false" style="color: white;font-family: Roboto;font-weight: 300;text-decoration: none;cursor: pointer;"><img class="play-icon" src="https://www.rubypedia.com/resources/images/play-icon.svg" alt="" style="margin-right: 10px;">Lihat Selengkapnya</a>
        </p>
    </div>
</div>

<!-- series -->
<section class="series">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2><i class="fa fa-youtube-play"></i> SERIES</h2>

                <p class="desc-text" style="margin-bottom: 20px;font-size: 18px;font-family: Roboto">Kumpulan video screencast berdasarkan teknologi tertentu untuk mempermudah kamu belajar coding.</p>
            </div>

        </div>

        <div class="row">
            <div class="text-center">
                <a  href="/series/" class="btn btn-rubypedia btn-md" style="border-radius: 25px;background-color: white;border-color: white;color: #464646;-webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);-moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);margin-top: 10px"> Lihat Series Lainnya <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>

    </div>

</section>

<!-- blog -->
<section class="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2><i class="fa fa-book"></i> BLOG</h2>

                <p class="desc-text" style="margin-bottom: 20px;font-size: 18px;font-family: Roboto">Belajar pemrograman lebih mudah dengan blog dimana kamu akan melihat langsung sebuah studi kasus yang bisa kamu coba.</p>
            </div>

            <div class="col-md-8">
                

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-right">
                            <a  href="/blog/" class="btn btn-rubypedia btn-md" style="border-radius: 25px;background-color: white;border-color: white;color: #464646;-webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);-moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);margin-top: 20px"> Lihat Blog Lainnya <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">

                       

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- kategori -->
<section style="margin-top: 20px;background: #20231E;color: #fff;padding: 60px 0;margin-bottom: 10px">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p style="font-size: 20px;font-family: Roboto;font-weight: 300">Kumpulan rangkaian tutorial berdasarkan teknologi tertentu untuk mempermudah kamu belajar coding.</p>
            </div>
            <div class="col-md-4">
                <a href="/kategori/" class="btn btn-danger btn-lg" style="text-transform: uppercase;color: #fefefe;background-color: rgb(183, 28, 29);border-color: rgb(183, 28, 29);border-radius: 25px;width: 100%;font-size: 20px"> Selengkapnya <i class="fa fa-long-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</section>

<section class="screencast">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2><i class="fa fa-play-circle"></i> SCREENCAST</h2>

                <p class="desc-text" style="margin-bottom: 20px;font-size: 18px;font-family: Roboto">Belajar pemrograman lebih mudah dengan kontent berupa video yang memungkinkan kamu belajar coding sambil praktek langsung.</p>
            </div>

        </div>

        <div class="row">
            <div class="text-center">
                <a  href="/screencast/" class="btn btn-rubypedia btn-md" style="border-radius: 25px;background-color: white;border-color: white;color: #464646;-webkit-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);-moz-box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);box-shadow: 0 1px 1px 0 rgba(159,167,194,0.6);margin-top: 10px"> Lihat Screencast Lainnya <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>

    </div>

</section>
</div>